/*/////////////*/
/* Blog Styles */
/*/////////////*/

.article-wrapper h6 {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.6;
}
.wp-block-quote {
    margin: 1.25em;
    padding: 0.5em 1.5em;
    font-size: 1.1875em;
    line-height: 1.375em;
    font-style: normal;
    font-weight: 600;
    border-left-color: #e67817;
    color: #00aac1;
}
.wp-block-quote p {
    margin: 0;
    padding: 0;
    font-weight: 600;
}
.article-wrapper p a {
    color: #e67817;
}

.article-wrapper {
    min-height:250px;
    /* border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb; */
}
.article-wrapper p {
    word-break: break-all;
}

.article-wrapper .post-date {
    font-weight: bold;
}
.article-wrapper .post-author {
    font-weight: bold;
    color: #e67817;
    padding: 0 10px;
    text-transform: uppercase; 
}
.article-wrapper .button {
    line-height: 1em;
}

.article-wrapper .post-thumbnail {
    /* min-height:270px; */
}
.article-section .navigation {
    text-align: center;
    font-weight: bold;
    color: #057889;
    padding: 20px 0;
}
.wp-paginate.wpp-modern-grey a, .wp-paginate.wpp-modern-grey .current {
    color: #057889 !important;
    padding: 10px !important;
    background:#fff !important;
    border: none !important;
}
.wp-paginate.wpp-modern-grey a:hover {
    color: #e67817;
}

.breadcrumbs-row {
    padding: 2em;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
}
.breadcrumbs span {
	color: #057889;
	font-size: 14px;
}
.breadcrumbs span.current-item {
    color: #e67817;
}
.article-wrapper .post-title {
        padding: 30px 0 0 0;
        color: #212529;
        font-size: 1.7rem;
        line-height: 1.125em;
        font-weight: 700;
}
.article-wrapper .post-title a {
    color: #212529;
}
.article-wrapper .post-title a:hover {
    color: #212529;
    text-decoration: underline;
}
.single .article-wrapper .post-meta {
	padding: 25px 0;
	border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    font-size: 0.8125em;
}
.article-wrapper .post-date {
    font-weight: bold;
}
.article-wrapper .post-author {
    font-weight: bold;
    color: #e67817;
    padding: 0 10px;
    text-transform: uppercase; 
}
.article-wrapper .button {
    line-height: 1em;
}
.article-wrapper .media-box a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(230, 120, 23, 0.5);
    background: -moz-linear-gradient(0deg, rgba(5, 120, 137, .5) 0%, rgba(230, 120, 23, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(5, 120, 137, .5) 0%, rgba(230, 120, 23, 0) 100%);
    background: linear-gradient(0deg, rgba(5, 120, 137, .5) 0%, rgba(230, 120, 23, 0) 100%);
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.article-wrapper .media-box:hover a:before {
    opacity: 1;
}

.single-navigation {
    text-align: center;
    font-weight: bold;
    color: #057889;
	padding: 2em 0 3.2em 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #e5e7eb;
}
.single-navigation .item-left {
    float:left;
}
.single-navigation .item-right {
    float:right;
}
.single-navigation a {
    color: #057889;
    padding: 10px;
}
.single-navigation a:hover {
	color: #e67817;
}

/*/////////////*/
/* Sidebar */
/*/////////////*/
.sidebar {
    padding: 50px 20px;
}
.sidebar h2 {
        font-weight: 700;
        font-size: 24px;
}
.widget ul {
    list-style:none;
    list-style-type: none;
    padding: 0 ;
}
.widget ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px
}
.widget ul li:before {    
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    content:'\f138';    
}
.widget_recent_entries ul li {
    position: relative;
    padding-left: 0;
    margin-bottom: 10px
}
.widget_recent_entries ul li:before {
    content:unset;
} 
.widget ul li a {
    color: #e67817;
}
.widget ul li a:hover {
    font-weight:bold;
    text-decoration: underline;
}

.tagcloud a {
    color: #e67817;
    border: 1px solid #e67817;
    padding: 7px;
    font-size: 14px !important;
    margin: 2px ;
    display:inline-block;
}
.tagcloud a:hover {
    background: linear-gradient(76deg, #e67817 35%, #f8c301);
    background: -webkit-linear-gradient(76deg, #e67817 35%, #f8c301);
    border: 1px solid #fff;
    color:#fff;
}
.widget-posts li {
	padding:10px 0;
	position:relative;
	float:left;
	width:100%;
	overflow:hidden;
	background:#fff;
	border-bottom:1px solid #eee;
    transition: all 100ms linear;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.widget-posts li:hover {
	background:#fff;
}
.widget-posts-img {
	float:right;
	width:40%;
	position:relative;
}
.widget-posts-descr {
	float:left;
    width:60%;
    padding-right:2px;
}
.widget-posts-img img {
	width:100%;
	height:auto;
}

.widget-posts-img a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(230, 120, 23, 0.5);
    background: -moz-linear-gradient(0deg, rgba(5, 120, 137, .5) 0%, rgba(230, 120, 23, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(5, 120, 137, .5) 0%, rgba(230, 120, 23, 0) 100%);
    background: linear-gradient(0deg, rgba(5, 120, 137, .5) 0%, rgba(230, 120, 23, 0) 100%);
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


.widget-posts-img:hover a:before {
    opacity: 1;
}

.widget-posts-descr h4 {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;	
    font-weight:normal;
}
.widget-posts-descr h4 a:hover {
    font-weight:bold;
    text-decoration: underline;
}

/*/////////////*/
/* 404 Error */
/*/////////////*/
.error-text h1 {
    font-weight: 900;
    font-size: 100px;
    background: linear-gradient(to right, #f8c301, #e67817);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.error-text h2 {
    font-weight: 800;
    font-size: 36px;
    background: linear-gradient(to right, #f8c301, #e67817);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.error-button {
    background: linear-gradient(to right, #f8c301, #e67817);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*/////////////*/
/* Comment Box */
/*/////////////*/
.comment-respond {
    width:100%;
}
.comments-area > h3, .comment-box > h3 {
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px; }
  
  .comments-area ol {
    list-style: none;
    padding-left: 0; }
  
  .comments-area > ol > li > ol {
    margin-left: 30px; }
  
  .comments-area .commentlist li .single-comment {
    background: #fff;
    border: 1px solid #ededed;
    margin: 0 0 20px;
    padding: 30px;
    width: 100%; }
    @media only screen and (max-width: 767px) {
        .comment-respond {
            width: 95%;
            margin: 0 auto;
        }
      .comments-area .commentlist li .single-comment {
        padding: 15px; } }
  
  .comments-area .commentlist li .comment-avatar {
    float: left;
    margin-right: 20px; }
  
  .comments-area .commentlist li .comment-info {
    border: none;
    overflow: hidden;
    position: relative; }
  
  .comments-area .commentlist .comment-info a {
    color: #333333;
    display: block;
    font-weight: 700;
    font-size: 14px; }
    @media only screen and (max-width: 767px) {
      .comments-area .commentlist .comment-info a {
        margin-bottom: 10px;
        display: block; } }
  
  .comments-area .commentlist li .comment-info .reply {
    display: inline-block;
    float: right;
    position: absolute;
    right: 0;
    top: 0; }
    .comments-area .commentlist li .comment-info .reply a {
      background: none;
      border: 1px solid #e67817;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #e67817;
      display: inline-block;
      font-size: 11px;
      font-weight: 700;
      height: 28px;
      line-height: 26px;
      padding: 0 20px;
      text-shadow: none;
      text-transform: uppercase;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      white-space: nowrap;
      border-radius: 500px; }
      .comments-area .commentlist li .comment-info .reply a:hover {
        background: linear-gradient(to right, #f8c301, #e67817);
        color:#fff;}
  
  .comments-area .commentlist .comment-info span.date {
    display: block;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 15px;
    color: #333333;
    line-height: 19px; }
  
  .comment-info > p {
    margin-bottom: 0;
    color: #333333; }
  
  .comment-note {
    font-size: 14px;
    color: #333333;
    line-height: 25px;
    margin-bottom: 10px; }
  
  .single-input > label {
    color: #333333;
    font-size: 14px;
    line-height: 25px; }
  
  .single-input > textarea {
    border: none;
    background: #f2f2f2;
    border-radius: 0;
    height: 135px;
    padding: 15px;
    width: 100%;
    border: #c2c2c2 2px solid; }
  
  .single-input > input {
    background: #f2f2f2;
    border: none;
    height: 46px;
    padding-left: 15px;
    width: 100%;
    border: #c2c2c2 2px solid; }
    .single-input > input:focus {
        border: #f4b206 2px solid; }
  
  .single-input > textarea:focus {
    border: #f4b206 2px solid; }
    .single-input > button {
       margin-top:20px;
    float:right; }
.comment-box {
    margin-bottom: 40px;
}
.comment-box .logged-in-as a, .comment-box .comment-reply-title a {
    color: #e67817;
    font-size:14px;
}
.comment-box .logged-in-as a:hover {
    font-weight:bold;
    text-decoration: underline;
}
.comment-box .comment-form-cookies-consent {
    padding: 1em 0;
    font-size:14px;
}
.comment-box .submit {
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em 2em 0.6rem;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #f8c301;
    background: linear-gradient(76deg, #e67817 35%, #f8c301);
    background: -webkit-linear-gradient(76deg, #e67817 35%, #f8c301);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    color: #fff;
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    border: none !important;
    letter-spacing: 1px;
    float: right;
}
.wpforms-submit, .kt-button {
    position: relative !important;
    display: inline-block !important;
    max-width: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 1em 2em 0.6rem !important;
    -webkit-flex-shrink: 0 !important;
    flex-shrink: 0 !important;
    border-top-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    background: #f8c301 !important;
    background: linear-gradient(76deg, #e67817 35%, #f8c301) !important;
    background: -webkit-linear-gradient(76deg, #e67817 35%, #f8c301) !important;
    -webkit-transition: all 300ms ease-in-out !important;
    transition: all 300ms ease-in-out !important;
    color: #fff !important;
    font-size: 14px !important;
    line-height: 1.6em !important;
    font-weight: 900 !important;
    text-align: center !important;
    text-transform: uppercase !important;
    border: none !important;
    letter-spacing: 1px !important;
}
.comment-box .submit:hover, .wpforms-submit:hover, .kt-button:hover {
    background-color: #e67817 !important;
        background-position: 0 0 !important;
        border-radius: 0 !important;
        color: #ffffff !important;
        -webkit-transition: all 300ms ease-in-out !important;
        transition: all 300ms ease-in-out !important;
  
}

.comment-form input.error, .comment-form textarea.error { border:2px solid #881111; }
.comment-form div.error {font-size: 12px; color: #881111;}


.page-banner {
    padding-top: 40px;
}
.page-banner h1 {
    text-align: left;
}

/*--------------------------------------------------------------
## Structure Order
--------------------------------------------------------------*/
@media (max-width:767px) {
	.order-sm-1 {
		order: 1;
	}
	.order-sm-2 {
		order: 2;
	}
	.order-sm-3 {
		order: 3;
  }
  .article-section .post-title, .article-section .post-meta, .article-section .post-content, .article-section .read-more {
      text-align:center;
  }
  .page-banner-section {
    padding-top: 65px;
}
.cover-background {
    margin-top: 7%;
    padding: 25%;
}

.wp-block-image, .wp-block-image img {
    display:block;
    width:100%;
}
.block-heading {
    text-align:center;
}
}

@media (min-width:768px) and (max-width:990px) {
	.order-md-1 {
		order: 1;
	}
	.order-md-2 {
		order: 2;
	}
	.order-md-3 {
		order: 3;
  }
.page-banner-section {
    padding-top: 65px;
}
.cover-background {
    margin-top: 7%;
    padding: 20%;
}
}
@media (min-width:991px) {
	.order-lg-1 {
		order: 1;
	}
	.order-lg-2 {
		order: 2;
	}
	.order-lg-3 {
		order: 3;
    }

   /*  .trust__logo-carousel .item figure {
        max-width: 150px;
        max-height: 100px;
    } */
    
}



/*/////////////////////////////////////////*/
/* Contact/Free Estimate Form & Map Styles */
/*////////////////////////////////////////*/

.caption-text-class {
    padding:0 22%;
}
.map-form p {
    line-height: 22px;
    margin-bottom: 0;
}
div.wpforms-container-full .wpforms-form .wpforms-submit-container {
    text-align:center;
}


div.wpforms-container-full .wpforms-form input {
    border-radius: 0;
    border: 2px solid #acacac !important;
    line-height: 2;
    color: #212529;
    height: 48px !important;
    padding: .375rem .75rem;
}

div.wpforms-container-full .wpforms-form textarea {
    border-radius: 0;
    border: 2px solid #acacac !important;
    line-height: 2;
    color: #212529;
    padding: .375rem .75rem;
}

div.wpforms-container-full .wpforms-form select {
    width: 100%;
    padding-right: 2rem !important;
    background: #ffffff url(../images/caret_down-ico.svg) no-repeat calc(100% - 0.625rem) 50% !important;
    -webkit-background-size: 1.5rem !important;
    background-size: 1.5rem !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    border-radius: 0;
    border: 2px solid #acacac !important;
    line-height: 2;
    color: #717171 !important;
    height: 48px !important;
}

div.wpforms-container-full .wpforms-form input:focus, div.wpforms-container-full .wpforms-form select:focus, div.wpforms-container-full .wpforms-form textarea:focus {
    border: 2px solid #f4b206 !important;
}


/*///////////////////////*/
/* Accordion Block Styles */
/*///////////////////////*/

.kt-blocks-accordion-header {
    font-size: 16px!important;
}
.kt-blocks-accordion-header, .kt-blocks-accordion-header.kt-accordion-panel-active {
    color: #ffffff !important;
    background: linear-gradient(90deg, #1daaa4 62%, #7dc059 100%) !important;
    border: 1px solid #ffff  !important;

}
.kt-accodion-icon-style-basic .kt-blocks-accordion-icon-trigger:after, .kt-accodion-icon-style-basic .kt-blocks-accordion-icon-trigger:before, .kt-accodion-icon-style-basiccircle .kt-blocks-accordion-icon-trigger:after, .kt-accodion-icon-style-basiccircle .kt-blocks-accordion-icon-trigger:before,
.kt-accodion-icon-style-arrow .kt-blocks-accordion-icon-trigger:after, .kt-accodion-icon-style-arrow .kt-blocks-accordion-icon-trigger:before, .kt-accodion-icon-style-arrowcircle .kt-blocks-accordion-icon-trigger:after, .kt-accodion-icon-style-arrowcircle .kt-blocks-accordion-icon-trigger:before
{
    background: #fff !important;
}
.kt-accordion-id_1f8b6e-37 .kt-accordion-panel-inner {
    -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.25);
}

.kt-accordion-panel-inner {
    border-left: 1px  !important;
    border-right: 1px  !important;
    border-style: solid  !important;
    border-color: #c2c2c2  !important;
}
.kt-accordion-panel-inner p {
    font-size:14px  !important;
}


/*///////////////////////*/
/* Product Cards Styles */
/*///////////////////////*/

.product___card .box h4 {
    font-size:24px;
}
.product___card .box .box-content {
    padding: 0 calc(0rem + 0.5vw) calc(1rem + 0.5vw);
    background: #ffffff;
    text-align: center;
    position: relative;
    z-index: 2;
    transition: all 0.5s ease;
    transform: translateY(0) !important;
}
.product___card .box_content-inner{
    position: relative;
    z-index: 1;
    background:#fff;
}
.product___card .boxes__pod-btn {
    text-align: center;
    background: transparent;
    padding: 0 calc(0rem + 0.5vw) calc(0.2rem + 0.5vw);
    transition: all 0.5s ease;
    transform: translateY(-100%);
    position:relative;
    z-index: 1;

}

.product___card:hover .box-content {
    transform: translateY(-100%) !important;
    transition: all 0.5s ease;
}
.product___card:hover .boxes__pod-btn {
    z-index: 3;
    transition: all 0.5s ease;
    transform: translateY(-115%);
}

.product___card:hover .button {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}

.choose___card:hover .box-content {
    transform: translateY(-40%) !important;
    transition: all 0.5s ease;
}
.choose___card:hover .boxes__pod-btn {
    z-index: 3;
    transition: all 0.5s ease;
}

.choose___card:hover .button {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.product__card .green__horzontal-dots {
    top: 35%;
    left: -8%;
}

.product__card .cblue__verticle-dots {
    top: 52%;
    left: 47%;
    transform: rotate(90deg);
}

.product__card .orange__horzontal-dots {
    top: 55%;
    right: -8%;
}

@media (max-width:767px) {
    .product___card .boxes__pod-btn {
        transform: translateY(-130%) !important;
    }
    
    .product___card:hover .box-content {
        transform: translateY(-150%) !important;
        transition: all 0.5s ease;
    }
    .caption-text-class {
        padding:0 5%;
    }
}


/*////////////////////////////*/
/* Why Choose Us Cards Styles */
/*////////////////////////////*/

.choose___card .box .box-content {
    padding: 0 calc(1rem + 0.5vw) calc(1rem + 0.5vw);
    background: #ffffff;
    text-align: center;
    position: relative;
    z-index: 2;
    transition: all 0.5s ease;
    transform: translateY(0);
    min-height: 200px;
}
.choose___card .box_content-inner{
    position: relative;
    z-index: 1;
    background:#fff;
}
.choose___card .boxes__pod-btn {
    text-align: center;
    background: transparent;
    padding: 0 calc(1rem + 0.5vw) calc(1rem + 0.5vw);
    transition: all 0.5s ease;
    transform: translateY(-100%);
    position:relative;
    z-index: 1;
    visibility: hidden;
}
.choose___card:hover .box-content {
    transform: translateY(-30%) !important;
    transition: all 0.5s ease;
}
.choose___card:hover .boxes__pod-btn {
    z-index: 3;
    transition: all 0.5s ease;
    visibility:visible ;
}

.choose___card:hover .button {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width:767px) {
  
    .choose___card .box-content {
        height: 30px;
    }
    .choose___card:hover .box-content {
        height:100%;
        transition: all 0.5s ease;
    }
    .choose___card:hover .box-content {
        transform: translateY(-50%) !important;
        transition: all 0.5s ease;
    }
    .choose___card .box_content-inner {
        transform: translateY(-25%);
    }
    .choose___card:hover .box_content-inner {
        transform: translateY(0);
        transition: all 0.5s ease;
    }
    .choose___card .box_content-inner p {
        visibility:hidden;
        transition: all 0.5s ease;
    }
    .choose___card:hover .box_content-inner p {
        visibility:visible;
    }
    .choose___card .boxes__pod-btn {
        transform: translateY(-110%) !important;
        transition: all 0.5s ease;
    }
    .showroom__pod-inner h2 {
        font-size:26px;
    }
    .news__pod-btn {
        transform: translateY(0);
    }
}
@media (min-width:768px) and (max-width:990px) {
    .choose___card:hover .box-content {
        transform: translateY(-20%) !important;
        transition: all 0.5s ease;
    }
}
.hm__page-content-sec {
    max-width: 1100px;
    margin: 0 auto;
}

@media (min-width:992px) and (max-width:1040px) {
    .site__header-form .form-control {
        padding: 0.25rem 0.45rem;
    }
    .site__header-form select.form-control {
   
    padding-right: 1rem !important;
    -webkit-background-size: 1rem !important;
    background-size: 1rem !important;
    }
}

/* .watch-seo .seo {
    background-size: 90% 100%;
} */


/*//////////////////*/
/* Internal Hero */
/*//////////////////*/
.internal___hm__tophero-sec {
    padding-top: 1rem;
}

.internal___hm__hero-wrap {
    display: flex;
}

.internal___hm__hero-left {
    flex: 1;
    position: relative;
    min-height: calc(70vh - 15px);
}

.internal___hm__hero-left h1 {
    position: absolute;
    bottom: 1%;
    left: 16%;
    z-index: 1;
    color:#fff;
    text-shadow: 
    1px 0px 1px rgba(0,0,0,.1), 0px 1px 1px rgba(0,0,0,.10), 
    1px 1px 1px rgba(0,0,0,.1), 1px 1px 1px rgba(0,0,0,.10),
    1px 1px 1px rgba(0,0,0,.1), 1px 1px 1px rgba(0,0,0,.10),
    1px 1px 1px rgba(0,0,0,.1), 1px 1px 1px rgba(0,0,0,.10),
    1px 1px 1px rgba(0,0,0,.1), 1px 1px 1px rgba(0,0,0,.10),
    1px 1px 1px rgba(0,0,0,.1), 1px 1px 1px rgba(0,0,0,.10),
    1px 1px 1px rgba(0,0,0,.1);
    font-family: 'Montserrat', sans-serif;
    font-size:48px;
}
.internal___hm__hero-left:before {
    content: '';
    position: absolute;
    background-image: url("../images/hero__orange-dots.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: cover;
    top: 30px;
    right: 5px;
    width: 17vw;
    height: 1.25vw;
    z-index: 1;
}

.internal___hm__hero-left:after {
    content: '';
    position: absolute;
    width: 336px;
    height: 636px;
    background-image: url("../images/internal-hero-shape.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 100%;
    top: 100%;
    left: 0;
    -webkit-transform: translateY(-90%);
    -moz-transform: translateY(-90%);
    -ms-transform: translateY(-90%);
    transform: translateY(-90%);
}

.internal___hm__hero-left .carousel {
    overflow: hidden;
    border-radius: 0 15rem 0 0;
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
}

.internal___hm__hero-left .carousel .carousel-inner {
    width: 100%;
    height: 100%;
}

.internal___hm__hero-left .carousel .carousel-item {
    padding-top: 4.4vmax;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    width: 100%;
    height: 100%;
}

.internal___hm__hero-right {
    flex: 328px;
    max-width: 328px;
    margin: 4.6vw 9.1rem 3rem 5.1rem;
    text-align: center;
    white-space: nowrap;
}

.internal___hero__right-inner h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1;
    font-weight: 800;
    color: #9dcb44;
    margin: 0;
}

.internal___hero__right-inner h3 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.09rem;
    margin-bottom: 0.77rem;
}

.internal___hero__right-inner h4 {
    font-size: 1.85rem;
    margin-bottom: 0.25rem;
    font-weight: 500;
    color: #057889;
    white-space: pre-wrap;
}

.internal___hero__right-inner p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0 1.4rem;
    line-height: 1;
}

.form-group {
    margin-bottom: 0.65rem;
}


.internal___hm__hero-form select.form-control, .site__header-form select.form-control {
    color: #717171;
}

.internal___hm__hero-form .form-control {
    height: 48px;
}

.internal___hero__estimate-link {
    margin-top: 0.75rem;
}


@media (min-width: 992px) {

    .internal___hero__estimate-link {
        display: none;
    }
}

@media (max-height: 849.98px) {
    .internal___hm__hero-right {
        padding-top: 2.5vw !important;
    }

    .internal___hm__hero-left .carousel .carousel-item {
        /* padding-top: 56vmax; */
    }
}
@media (max-width: 1499.98px) {
    .internal___hm__hero-right {
        margin: 2.5vw 6vw;
    }
}
@media (max-width: 1199.98px) {
    .internal___hero__text-pod {
        right: 6vw;
    }

    .internal___hm__hero-left:after {
        width: 50%;
        height: auto;
        padding-top: 60%;
    }
    .internal___hm__hero-left h1 {
        bottom: 0%;
        left: 20%;
    }
}

@media (max-width: 991.98px) {
    .internal___hm__hero-wrap {
        display: block;
        position: relative;
    }

    .internal___hm__hero-left {
        padding-right: 1.25rem;
    }

    .internal___hm__hero-right {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: #ffffff;
        flex: auto;
        max-width: initial;
        padding: 1.5rem;
        margin: 0;
        z-index: 2;
    }

    .internal___hm__hero-right form {
        display: none;
    }

    .internal___hero__right-inner h3 {
        margin: 0;
    }

    .internal___hm__hero-left .carousel .carousel-item {
        padding-top: 100vmax;
    }

    .internal___hm__hero-left:before {
        width: 24vw;
        height: 1.5vw;
        right: 1rem;
    }
}
@media (max-width: 767.98px) {

    .internal___hm__hero-left {
        padding-right: 0;
    }

    .internal___hm__hero-left .carousel .carousel-item {
        padding-top: 82vmax;
    }
    .internal___hm__hero-left h1 {
        display:none;
    }
}
@media (max-width: 575.98px) {
    .internal___hm__hero-left:after {
        width: 100%;
        height: auto;
        padding-top: 100%;
    }

    .internal___hm__hero-right {
        padding: 1.75rem !important;
    }

    .internal___hero__text-pod {
        width: 100%;
    }

    .internal___hm__hero-left:before {
        width: 40vw;
        height: 2.8vw;
        right: 1rem;
        top: 2rem;
    }
}
@media (max-width: 479.98px) {

    .internal___hm__hero-right {
        width: calc(100% - 30px);
    }

    .internal___hero__right-inner h2 {
        font-size: 15vw;
    }

    .internal___hero__right-inner h3 {
        font-size: 6vw;
    }

    .internal___hero__right-inner h4 {
        font-size: 7.5vw;
    }

    .internal___hero__right-inner p {
        font-size: 3.4vw;
        margin: 1rem 0 .4rem;
    }
}


/*// Non Permanent Styles */
.page-id-672 .hm__showroom-sec figure {
    background-position: 50% 0vw;
}

.page-id-672 .product__gallery-sec{
    margin-top:-18%;
}
@media (max-width: 1023px) and (min-width: 768px) {
.page-id-672 .product__gallery-sec{
    margin-top:2%;
}
}
.showroom__pod-inner {
    -webkit-box-shadow: 0 0 50px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 50px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 50px 30px rgba(0, 0, 0, 0.1);
}
.page-id-457 .hm__trust-sec, .page-id-542 .hm__trust-sec {
    padding: calc(1rem + 1vw) 15px calc(1rem + 2vw) 0;
}

.w-95 {
    width: 85%!important;
    margin:0 auto;
}

@media (max-width: 1499.98px) {
    .w-95 {
        width: 95%!important;
        margin:0 auto;
    }
}
@media (max-width: 991.98px) {
    .w-95 {
        width: 100%!important;
        margin:0 auto;
    }
}
@media (max-width: 767px) {
.article-wrapper .button {
    line-height: 1em;
    text-align: center;
    margin: 0 auto;
    display: table;
}
.choose___card .box .box-content {
    
    min-height: auto;
}
}
/* @media (min-width:1401px) {
    .internal___hm__hero-left h1 {
        bottom: 3%;
        left: 23%;
    }
} */
@media (min-width:1300px) and (max-width:1400px) {
.internal___hm__hero-left h1 {
    bottom: 3%;
    left: 25%;
}
}
@media (min-width:1200px) and (max-width:1299px) {
    .internal___hm__hero-left h1 {
        bottom: 3%;
        left: 28%;
    }
    }

.page-id-1018 .hm__trust-sec {
    padding: calc(3.5rem + 3vw) 15px 30px 0;
}

.fade {
    opacity: 0.8;
    transition: opacity .50s ease-in-out;
    -moz-transition: opacity .50s ease-in-out;
    -webkit-transition: opacity .50s ease-in-out;
  }

  .fade:not(.show) {
    opacity: 0.1;
}


.kb-gallery-ul li:nth-child(odd) .kb-gallery-figure a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(230, 120, 23, 0.5);
    background: -moz-linear-gradient(0deg, rgba(230, 120, 23, 1) 0%, rgba(230, 120, 23, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(230, 120, 23, 1) 0%, rgba(230, 120, 23, 0) 100%);
    background: linear-gradient(0deg, rgba(230, 120, 23, 1) 0%, rgba(230, 120, 23, 0) 100%);
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;

}
.kb-gallery-ul li:nth-child(odd) .kb-gallery-figure:hover a::before {
    opacity: 1;
    z-index: 9;
}


.kb-gallery-ul li:nth-child(odd) .kb-gallery-figure a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../images/magnifying_glass-ico.svg") no-repeat 50% 50%;
    background-size: auto;
    background-size: 2rem;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.kb-gallery-ul li:nth-child(odd) .kb-gallery-figure:hover a::after {
    opacity: 1;
    z-index: 9;
}


.kb-gallery-ul li:nth-child(even) .kb-gallery-figure a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(230, 120, 23, 0.5);
    background: -moz-linear-gradient(0deg, rgba(157, 203, 68, 1) 0%, rgba(230, 120, 23, 0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(157, 203, 68, 1) 0%, rgba(230, 120, 23, 0) 100%);
    background: linear-gradient(0deg, rgba(157, 203, 68, 1) 0%, rgba(230, 120, 23, 0) 100%);
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;

}
.kb-gallery-ul li:nth-child(even) .kb-gallery-figure:hover a::before {
    opacity: 1;
    z-index: 9;
}


.kb-gallery-ul li:nth-child(even) .kb-gallery-figure a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../images/magnifying_glass-ico.svg") no-repeat 50% 50%;
    background-size: auto;
    background-size: 2rem;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.kb-gallery-ul li:nth-child(even) .kb-gallery-figure:hover a::after {
    opacity: 1;
    z-index: 9;
}
.kt-btn-svg-icon {
    padding: 0 .5rem 0 0;
}


@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-gutters-icon:before{content:'\0041';}
.icon-windows:before{content:'\0042';font-weight: bold;}
.icon-brick-wall-pixel:before{content:'\0046';}


/* 
.hm__trust-sec .owl-carousel .owl-nav.disabled {
    display: block !important;
} */

.page-id-1371 .hm__showroom-sec figure, .page-id-1418 .hm__showroom-sec figure{
    background-position: center;
}
.page-id-1371 .product__gallery-sec, .page-id-1418 .product__gallery-sec {
    margin-top:-18%;;
}

@media (max-width: 1023px) and (min-width: 768px) {
.page-id-1371 .product__gallery-sec, .page-id-1418 .product__gallery-sec{
    margin-top:2%;
}
}



/* Level 1 Drop Down Menu */
#menu-main-navigation > li {
    position: relative;
   
}

/* Level 2 */
#menu-main-navigation > li > ul {
	text-align: left;
	width: auto;
    white-space: nowrap;
	display: none;
	background: #fff;
	position: absolute;
	top: 100%;
    z-index: 9999999; 
    list-style: none;
    padding: 15px 5px;
    margin:0;
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#menu-main-navigation > li:last-child > ul {
    right: 0;
    left:auto;
}
#menu-main-navigation > li > ul > li {
    list-style: none;
    padding: 7px 10px;
    margin-left: 0;
    display: block;
}
#menu-main-navigation > li > ul > li a {
    display: block;
}
#menu-main-navigation > li > ul > li:hover {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#menu-main-navigation  > li:hover > ul {
    display: block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
#menu-main-navigation  ul li a {}
#menu-main-navigation ul li a:hover {}



/* Level 3 */
#menu-main-navigation  > li > ul > li > ul {
	text-align: left;
	display: none;
	background: #fff;
	position: absolute;
	right: 100%;
	top: auto;
    z-index: 9999999;
    list-style: none;
    padding: 15px 5px;
    width: auto;
    margin:0;
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#menu-main-navigation > li > ul > li:hover > ul {
    display: block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
    width: auto;
    white-space: nowrap;
}
#menu-main-navigation > li > ul > li:hover > ul li {
	list-style: none;
    padding: 7px 10px;
    margin-left: 0;
}
#menu-main-navigation  ul ul li {}
#menu-main-navigation  ul ul li a { display:block;}
#menu-main-navigation  ul ul li a:hover {}
.comment-form .form-submit {
    margin-top:1rem;
}
.kt-row-column-wrap {
    z-index:1 !important;
}
.footer__pods-wrap .footer_pod h3 a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #e67817;
}